./ejercicios/oscar/__pycache__
./ejercicios/oscar/python/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/gridfs/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/jinja2/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/werkzeug/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/werkzeug/wrappers/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/werkzeug/middleware/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/werkzeug/debug/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pkg_resources/extern/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pkg_resources/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pkg_resources/_vendor/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pkg_resources/_vendor/packaging/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/click/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/certifi/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/urllib3/contrib/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/urllib3/contrib/_securetransport/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/urllib3/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/urllib3/util/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/urllib3/packages/ssl_match_hostname/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/urllib3/packages/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/urllib3/packages/backports/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/chardet/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/chardet/cli/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/markupsafe/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/bson/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/operations/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/req/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/models/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/_vendor/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/vcs/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/utils/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/compat/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pip/commands/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/flask/json/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/flask/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/idna/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/requests/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/itsdangerous/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/pymongo/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/setuptools/extern/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/setuptools/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/setuptools/_vendor/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/setuptools/_vendor/packaging/__pycache__
./ejercicios/oscar/python/flask_app/venv/lib/python3.6/site-packages/setuptools/command/__pycache__
./ejercicios/oscar/python/flask_app/api_flask/__pycache__
./ejercicios/oscar/python/flask_app/__pycache__
./ejercicios/Simon/__pycache__
./ejercicios/josuee/__pycache__/ejercicios/oscar/__pycache__
/ejercicios/oscar/python/__pycache__
/ejercicios/Simon/__pycache__
/ejercicios/josuee/__pycache__

